{% extends '::base.html.twig' %}
{% trans_default_domain 'DBManagerBundle' %}

{% block body %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-{{ type }}">
                        <strong>{{ type }}</strong> {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h1>{{ 'entity.title'|trans({'%name%': name}) }}</h1>
    <a href="{{ path('db.manager') }}">Main</a>



    {% for link in links %}
        <a href="{{ path('db.manager.process', link.parameter) }}">{{ link.name }}</a>
    {% endfor %}

    {% for view in views %}
        {% include view.viewMeta.view with { 'data' : view.data.data, 'action': view.action} %}
    {% endfor %}

    {#
    {% for methodId, method in eInfo.methods %}
        {% if method.environment == constant('FQT\\DBCoreManagerBundle\\DependencyInjection\\Configuration::ENV_GLOBAL') %}
            <td><a href="{{ path('db.manager.process', { 'method':methodId,'name':name })}}">{{ method.fullName }}</a></td>
        {% endif %}
    {% endfor %}
    #}

{% endblock %}
