{% extends '::base.html.twig' %}
{% trans_default_domain 'DBManagerBundle' %}

{% block body %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-{{ type }}">
                        <strong>{{ type }}</strong> {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h1>{{ 'entity.title'|trans({'%name%': name}) }}</h1>

    {% if eInfo.displayElements.list.full %}
        {% include eInfo.listView %}
    {% endif %}

    {% if eInfo.displayElements.form.full %}
        {% include eInfo.formView %}
    {% elseif eInfo.displayElements.form.addLink %}
        <a href="{{ path('db.manager.add', {'name':name}) }}">{{ 'entity.action.add'|trans }}</a>
    {% endif %}

{% endblock %}
