{% extends '::base.html.twig' %}

{% block body %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-{{ type }}">
                        <strong>{{ type }}</strong> {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h1>Manage your database</h1>

    <h3>Listing :</h3>
    <table>
        {% for key, e in entities %}
            <tr>
                <td><a href="{{ path('db.manager.list', {'name':key})}}">{{ key }}</a></td>
                {% if e.permission.edit %}
                    <td>Editable</td>
                {% endif %}
                {% if e.permission.remove %}
                    <td>Removable</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
